<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
  <div id="navbarSupportedContent">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{site.title}}</a>
    <ul class="navbar-nav ml-auto" style="list-style-type:none; margin-top: auto;">
      <li class="nav-item">
        <a class="nav-link" href="{{"/" | relative_url }}">Koti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{"/about" | relative_url }}">Tietoa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/posts" | relative_url }}">Artikkelit</a>
      </li>
    </ul>
  </div>
</nav>